@using Nop.Web.Framework.UI
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/ExternalAuth.QQConnect/Content/qqconnectstyles.css");    
}
<div class="qqconnect-login-block">
    <div class="title">
        @T("Plugins.ExternalAuth.QQConnect.Login")
    </div>
    <div class="buttons">
        <a asp-controller="qqconnectauthentication" asp-action="login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" class="qqconnect-btn"></a> 
  </div>
</div>